.navbar-expand-lg{
    background-color: #0bada6;
}

img {
  float: left ; 
}
.float-left{
    float: left !important;
}
.visualization{
    width: 50% !important;
    height: 50% !important;
}


div {
    display: block;
}

*, ::after, ::before{
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.dropdown-backdrop {
    position: static;
    
}

.active {
    background-color:#0BADA6; 
}
#navbar {
    background-color: #0BADA6; 
}


h1,h2,h3 {
    color:lightseagreen;
    
}

h3 {
    text-align: center;
    font-size: 12px;
}

@media (max-width: 767px){
    .navbar-expand-lg .dropdown-menu .navbar-toggler{
        background-color:black;
        
    }
}

.collapse.show{
    display: block;
}

.navbar .navbar-toggler .icon-bar {
    background: black !important;
  }